version: "3.7"

services:
  back:
    build: .
    ports:
      - 3000:3000
    volumes:
      - ./:/usr/src/app
    env_file:
      - .env
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -e production -p 3000 -b 0.0.0.0"

volumes:
  data: