services:
  back:
    build: .
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - ./:/usr/src/app
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    env_file:
      - .env
