<h1>Cadastro e Confirmação de Bixes</h1>

<span style="color: red;">Se voce não sabe como o cadastro funciona LEIA esse lindo e bem resumido TUTORIAL!!!</span>

<h2>Como cadastrar um bixe</h2>

Na aba <strong>bixes</strong> há uma listagem com todos os bixes da planilha do caça.
Pesquise nessa página o nome do bixe, usando a busca do navegar (algo como ctrl-f), e clique no nome do bixe que deseja cadastrar.
Se o nome do bixe não foi encontrado na listagem, no topo da página, clique em adicionar bixe.
Dentro da página do bixe, clique em <strong>Editar</strong>, adicione as informaçoes necessarias e salve.
Depois disso, clique em <strong>Confirmar</strong> para finalizar o cadastro e definir um time para o bixe.
Feito isso, pegue o fita da cor mostrada no time escreva o numero do bixe na pulsera e coloque com carinho no bixe queride.
