<h1>Cadastro e Confirmação de Bixes</h1>

<h2>Criar Bixe no sistema</h2>
<p>A ferramenta permite o cadastro de bixes de forma simples, registrando as seguintes informações:</p>
<ul>
    <li><strong>Nome</strong>;</li>
    <li><strong>Email</strong>;</li>
    <li><strong>Telefone</strong>;</li>
    <li><strong>Curso</strong>;</li>
    <li><strong>Contatos de Emergencia</strong>;</li>
    <li><strong>Sensibilidades e Alergias</strong>.</li>
</ul>
<p>Para cadastrar um novo bixe, siga os passos abaixo:</p>
<ol>
  <li>Acesse: <%= link_to "\"bixes\"", bixes_path %></li>
    <li>Clique no botão <strong>"Novo Bixe"</strong>;</li>
    <li>Preencha as informações necessárias.</li>
    <li>Clique em <strong>"Cadastrar"</strong>;</li>
</ol>
<p>Após concluir essas etapas, o bixe estará cadastrado no sistema.</p>

<h2>Confirmar Bixe no sistema</h2>
<p>Após o cadastro, com o bixe já criado no sistema, é necessário confirmar o bixe. Esse processo atribuirá automaticamente um time a ele. Para confirmar um bixe:</p>
<ol>
    <li>Acesse: <%= link_to "\"Confirmações\"", confirmacoes_path %></li>
    <li>Na coluna esquerda, veja a lista de bixes que ainda não foram confirmados;</li>
    <li>Clique no nome de bixe que deseja confirmar</li>
    <li>Clique no botão de <strong>"Confirmar"</strong></li>
</ol>
<p>Assim, magicamente, o bixe ganhará um time e agora é abraços.</p>
