/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

:root {
  --sports-red: #f00;
  --sports-white: #ddd;
  --light-red-bg: #fee;
  --light-blue-bg: #eef;
}

.btn-wide {
  width: 100%;
}

.lil-top-margin {
  margin-top: 25px;
}

.grid {
  margin-top: 30px;
}

.banner {
  background: var(--sports-red);
  padding: 20px;
  color: var(--sports-white);
  margin-bottom: 30px;
}

[class*="list-item-"]:not(:first-of-type) {
  margin-top: 5px;
}

[class*="col-"] {
  display: block;
}

.list-item-0 {
  background: var(--light-red-bg);
}

.list-item-1 {
  background: var(--light-blue-bg);
}

h4 {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
}

// Team colors

// .team-purple {
//   background: #cd9ce9;
// }

// .team-orange {
//   background: #f49f3f;
// }

// .team-green {
//   background: #a9c831;
// }

// .team-blue {
//   background: #35bfdb;
// }

// .team-brown {
//   background: #bf8a5d;
// }

// times baseados nos personagens

.team-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.team-container .col{
  display: flex;
  flex-direction: column;
  width: 100%;

}


.team-fantasma {
    background-color: #C83286;
}
.team-balao {
    background-color: #66b6c0;
}
.team-banana {
    background-color: #FCE100;
}
.team-amendoim {
    background-color: #ff741f;
}
.team-nuvem {
  background-color: #cecece;
}

.btn {
  color: #fff !important;
}

#deleteBtn {
  color: #fff !important;
  align-self: flex-end;
}

.team-infos{
  display: flex;
  align-items: center;
  flex-direction: row !important;
  
}

.team-infos a{
  color: #fff;
  font-weight: bold;

}

.team-logo{
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

a:hover {
  background: none;
  text-decoration: none;
}

input {
  width: 100%;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
